.blue-btn {
    color: #6EBCD6;
    border-color: #21A8CB;
}

.blue-btn:hover{
    color: #4A859D;
    border-color: #217CCB;
    background: white;
}

.black-btn {
    color: #6c6c6c;
    border-color: #6c6c6c;
}

.black-btn:hover{
    color: #000000;
    border-color: #000000;
    background: white;
}