
/*forms*/
.center-form {
    text-align: justify;
    margin: 10% auto 0 auto;
    font-size: 1.2em;
    width:320px;
}

.without-margin-top {
    margin: 0 auto;
}

.form-title {
    font: 2em 'Exo', sans-serif;
    text-align: center;
}

.login-btns{
    text-align: center;
}

.login-btn{
    cursor: pointer;
    display: inline-block;
    padding: 0 2.5em;
    background-color: #21abc7;
    border: 1px solid #21abc7;
    color: #fff;
    /*border-radius: 100px;*/
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-weight: 600;
    min-width: 320px;
    height: 40px;
}

.login-btn-margin {
    margin: 20px 0;
}

.login-btn:hover, .login-btn:focus{
    color: white;
    text-decoration: none;
    background: #36C1DE;
}

.login-btn[disabled]{
    color: #31708f;
}
.login-btn[disabled]:hover{
    background-color: #21abc7;
}
.login-btn:focus, .login-btn:active, .login-btn:active:focus{
    outline: 0;
}

.div-hidden {
    visibility: hidden;
}

/*Labels*/

label.label-block {
    display: block;
}

@media (max-width: 350px) {
    .center-form {
        width: 280px;
        font-size: 1em;
    }
    .login-btn {
        min-width: 280px;
    }
}
