/*header*/
.header-info{
    /*Перекрываем свойства material*/
    height: 45px !important;
    min-height: 45px !important;

    /*Свойства заголовка*/
    width: 100%;
    min-width: 340px;
    z-index: 30;
}

.no-padding {
    padding: 0 !important;
}

.header-item{
    display: inline-block;
    height: 100%;
    color: #4A5259;
}

.header-left{
    float:left;
}
.heaer-center{
    overflow: hidden;
}
.header-right{
    float:right;
}

/*Left header*/
.menu-toggle{
    height: 45px;
    width: 45px;
    background: inherit;
    font-size: 28px;

    border: 0;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}

.hamburger{
    transform: scale(1.3,1);
    display: inline-block;
}

.menu-toggle:focus{
    border:0;
    outline:0;
}

.menu-toggle:hover{
    color:white;
}

.site-title {
    font: italic 28px 'Constantia';
    text-align: center;
    color: white;
    display: inline-block;
}

.site-title>a {
    color:#fff;
    text-decoration: none;
}

.site-title>a:hover {
    text-decoration: none;
}

/*Right header*/
.language-panel{
    text-align: center;
    line-height: 45px;
}

.language-panel>span>a{
    vertical-align: middle;
    margin: 0 10px;
    display: inline-block;
    cursor: pointer;
    color: inherit;
}

.language-panel>span>a:hover{
    transform: scale(1.2);
}

.language-panel>span>a.selected{
    color:white;
}