html, body{
    height: 100%;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;
}
:focus {
    outline: 0;
}

.btn[disabled], fieldset[disabled] .btn{
    cursor: default;
}

.md-select-menu-container {
    z-index: 1005;
}

p {
    font-size: 1em;
    line-height: 1.5em;
}

h1 {
    font-size:  2em; /* эквивалентно 24px */
    line-height: 1.5em;
}

h2 {
    font-size:  1.8333em; /* эквивалентно 22px */
    line-height: 1.6364em;
}

h3 {
    font-size:  1.6667em; /* эквивалентно 20px */
    line-height: 1.8em;
}
h4 {
    font-size:  1.5em; /* эквивалентно 18px */
    line-height:  1em;
}
h5 {
    font-size:  1.3333em; /* эквивалентно 16px */
    line-height:  1.125em;
}
h6 {
    font-size:  1.1667em; /* эквивалентно 14px */
    line-height:  1.2857em;
}

button:focus, .btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0;
}

.md-dialog-container {
    z-index: 1000;
}
/*for loader bar*/
#loading-bar-spinner{
    top:60px;
}
#loading-bar .bar {
    background: #000;
    top: 45px;
}
#loading-bar-spinner .spinner-icon {
    border-top-color:  #000;
    border-left-color: #000;
}
#loading-bar .peg {
    -moz-box-shadow: #000 1px 0 6px 1px;
    -ms-box-shadow: #000 1px 0 6px 1px;
    -webkit-box-shadow: #000 1px 0 6px 1px;
    box-shadow: #000 1px 0 6px 1px;
}

/*for scroll*/
.mCSB_container_wrapper{
    margin-bottom: 0;
    margin-right: 0;
}

.mCSB_container_wrapper>.mCSB_container{
    padding-right: 15px;
}
/*--------------------------------------*/
/*same height*/

/* content styles */
.inside {
    margin-top: 20px;
    margin-bottom: 20px;
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom,color-stop(0%, #f4f4f4), color-stop(100%, #ededed));
    background: -moz-linear-gradient(top, #f4f4f4 0%, #ededed 100%);
    background: -ms-linear-gradient(top, #f4f4f4 0%, #ededed 100%);
}

.inside-full-height {
    /*
    // if you want to give content full height give him height: 100%;
    // with content full height you can't apply margins to the content
    // content full height does not work in ie http://stackoverflow.com/questions/27384433/ie-display-table-cell-child-ignores-height-100
    */
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

/* columns of same height styles */

.row-height {
    display: table;
    table-layout: fixed;
    /*height: 100%;*/
    width: 100%;
}
.col-height {
    display: table-cell;
    float: none;
    height: 100%;
}
.col-top {
    vertical-align: top;
}
.col-middle {
    vertical-align: middle;
}
.col-bottom {
    vertical-align: bottom;
}

@media (min-width: 480px) {
    .row-xs-height {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%;
    }
    .col-xs-height {
        display: table-cell;
        float: none;
        height: 100%;
    }
    .col-xs-top {
        vertical-align: top;
    }
    .col-xs-middle {
        vertical-align: middle;
    }
    .col-xs-bottom {
        vertical-align: bottom;
    }
}

@media (min-width: 768px) {
    .row-sm-height {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%;
    }
    .col-sm-height {
        display: table-cell;
        float: none;
        height: 100%;
    }
    .col-sm-top {
        vertical-align: top;
    }
    .col-sm-middle {
        vertical-align: middle;
    }
    .col-sm-bottom {
        vertical-align: bottom;
    }
}

@media (min-width: 992px) {
    .row-md-height {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%;
    }
    .col-md-height {
        display: table-cell;
        float: none;
        height: 100%;
    }
    .col-md-top {
        vertical-align: top;
    }
    .col-md-middle {
        vertical-align: middle;
    }
    .col-md-bottom {
        vertical-align: bottom;
    }
}

@media (min-width: 1200px) {
    .row-lg-height {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%;
    }
    .col-lg-height {
        display: table-cell;
        float: none;
        height: 100%;
    }
    .col-lg-top {
        vertical-align: top;
    }
    .col-lg-middle {
        vertical-align: middle;
    }
    .col-lg-bottom {
        vertical-align: bottom;
    }
}

/*--------------------------------------*/
/*wrapper*/
.wrapper{
    padding-top:60px;
    transition: all linear 0.5s;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    position: relative;
    min-height:100%;
    margin-bottom: -30px;
}
.wrapper-main-content{
    padding-left: 270px;
}


/*--------------------------------------*/
/*dictionary select*/
.select-with-input {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.select-input {}

.select-options-container {
    border: 1px solid rgba(102, 175, 233, .6);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    position: absolute;
    width: 100%;
    border-top: 0;
    background: #fff;
    z-index: 100;
}

.select-options {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #444;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 240px;
}

.select-option {
    margin: 0;
    padding: 5px 6px;
    list-style: none;
    line-height: 15px;
    word-wrap: break-word;
}

.select-option.active {
    display: list-item;
    cursor: pointer;

    background-color: #3875d7;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
    background-image: -webkit-linear-gradient(#3875d7 20%, #2a62bc 90%);
    background-image: -moz-linear-gradient(#3875d7 20%, #2a62bc 90%);
    background-image: -o-linear-gradient(#3875d7 20%, #2a62bc 90%);
    background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
    color: #fff;
}
/*Modal window in selector*/
.modal-find{
   padding: 6px;
}

.modal-body.modal-find{
    position: relative;
}

.modal-footer.modal-find{
    text-align: center;
}

.table-border {
    border-collapse: separate !important;
    border-spacing: 0;
    margin-bottom: 0;
}
.table-border {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc;
    -moz-box-shadow: 0 1px 1px #ccc;
    box-shadow: 0 1px 1px #ccc;
}
.table-border tr:hover {
    background: #ECECEC;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.table-border > tbody > tr >td, .table-border > tbody > tr >th {
    border-left: 1px solid #ccc;
    border-top: 0;
    padding: 10px;
    text-align: left;
}
.table-border th {
    background-color: #ECECEC;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F8F8F8), to(#ECECEC));
    background-image: -webkit-linear-gradient(top, #F8F8F8, #ECECEC);
    background-image: -moz-linear-gradient(top, #F8F8F8, #ECECEC);
    background-image: linear-gradient(top, #F8F8F8, #ECECEC);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
.table-border td:first-child, .table-border th:first-child {
    border-left: none;
}
.table-border th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}
.table-border th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}
.table-border th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}
.table-border tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}
.table-border tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

.table-content{
    overflow: auto;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 1px;
}



/*datepicker*/
.datepicker table{
    margin: 0 auto;
    outline: 0;
}

/*panel*/
.panel-item {
    cursor: pointer;
}

.result-panel {
    padding: 5px;
}

/*editable textarea*/
.editable-text-focus{
    border: 1px solid #66afe9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.editable-textarea-buttons{
    margin:0;
    line-height: 0;
}

.editable-textarea{
    resize: none;
}

.editable-text{
    display: block;
    margin: 0;
    word-break: break-all;
    /*white-space : pre-line;*/
    font-style: italic;
}

.editable-textarea-buttons button.btn{
    padding: 2px 6px;
    background: initial;
    border-color: #ddd;
    color: black;
}

.edit-text{
    border: 1px solid #ddd;
    border-radius: 3px;
}

.default-text{
    color: #337ab7;
}

.btn-textarea-save[disabled]{
    background-color: #eee !important;
    border-color: #ddd !important;
}

.btn-textarea-save[disabled]:hover{
    background-color: #eee !important;
    border-color: #ddd !important;
}

.wrapper:after {
    content: "";
    display: block;
}

/*Footer*/
#footer-page, .wrapper:after {
    height: 30px;
}
#footer-page {
    background: #11171c;
    text-align: center;
    font-size: 18px;
    color: white;
    transition: all linear 0.5s;
}

.footer-margin{
    margin-left: 250px;
}