/*Index page video*/
.video-content {
    border-top: 2px solid #d8dfe5;
    border-bottom: 2px solid #d8dfe5;
    margin: 0 -20px;
    padding-left: 10px;
    padding-top: 10px;
    background-color: #EEEFEF;
}

.video-text {
    font-size: 1.3em;
}

.video-text-title {
    color : #899b9f;
    font-weight: 300;
    font-size: 1.5em;
}

.video-image {
    position: relative;
    left: 0; top: 0;
}
.video-poster{
    position: relative; top: 0; left: 0;
    width: 100%;
}
.video-play {
    cursor: pointer;
    position: absolute;
    left:50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.video-play span{
    font-size: 70px;
    font-size: 25vmax;
    color: #000000;
}
.video-play span:hover{
    color: #17789D;
}

/*gt-sm*/
@media (min-width: 960px) {
    .video-play span{
        font-size: 8vmax;
    }
}

/*xs*/
@media (max-width: 599px) {
    .video-play span{
        font-size: 15vmax;
    }
}