<module-template name="carousel/carousel" data="carouselData"></module-template>

<div class="video-content" ng-controller="videoCtrl">
    <div class="site-information" >
        <div class="col-md-3 col-sm-4 right-text">
            <div class="video-image">
                <img src="/resources/image/index/video/videoCover1.png"
                                          class="img-thumbnail video-poster">
                <a ng-click="open()" class="video-play"><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span></a>
            </div>

        </div>
        <div class="col-md-9  col-sm-8 left-text video-text">
            <div class="video-text-title">
                Почему getKnowlege() ?
            </div>
            {{translate('video1')}}
        </div>
    </div>
    <div class="site-information">
        <div class="col-md-3 col-sm-4 right-text">
            <img src="/resources/image/index/video/videoCover1.png" class="img-thumbnail video-poster"></a>
            <a ng-click="open()" class="video-play"><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span></a>
        </div>
        <div class="col-md-9  col-sm-8 left-text video-text">
            <div class="video-text-title">
                Что значит быть программистом сегодня?
            </div>
            {{translate('video2')}}
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-center">
                <!--<div class="modal-body">-->
                <video id="main-video" class="video-js vjs-default-skin vjs-big-play-centered">
                    <!--poster="/resources/image/index/slider/programming.jpg" data-setup="{{videoSetup}}">-->
                </video>
                <!--</div>-->
            </div>
        </div>
    </div>
</div>

<div class="site-info-card" ng-controller="cardCtrl">
    <h2 class="text-center">Our courses</h2>

    <div class="row-height  thumbnail-card" ng-repeat="index in range() track by $index">
        <div class="col-sm-height col-info" ng-repeat="card in prepareCard($index)">
            <div class="thumbnail">
                <div class="caption text-center card">
                    <p class="card-image text-center"><img ng-src="{{card.iconUrl}}"></p>

                    <h3 class="card-title">{{translate(card.title)}}</h3>

                    <p class="text-justify">{{translate(card.title+"_card")}}</p>
                    <a href="#" class="btn btn-primary" role="button">{{translate('go_to_course')}}</a>
                </div>
            </div>
        </div>
    </div>
</div>




<!--<script>-->
<!--videojs('main-video').ready(function() {-->
<!--this.hotkeys({-->
<!--volumeStep: 0.1,-->
<!--fullscreenKey: function(event, player) {-->
<!--// override fullscreen to trigger when pressing the F key or Ctrl+Enter-->
<!--return ((event.which === 70) || (event.ctrlKey && event.which === 13));-->
<!--}-->
<!--});-->
<!--});-->
<!--</script>-->