<link rel="stylesheet" type="text/css" href="/resources/css/components/section.css">

<div ng-controller="sectionController">

    <h1 class="text-center">{{translate(section.name)}}</h1>

    <div layout="column">
        <div flex="50">
            <img ng-src="{{section.coverImg}}" class="cover-img">
        </div>
        <div flex="50">
            <p class="description">
            {{application.language == 'ru' ? section.descriptionRu : section.descriptionEn}}
            </p>
        </div>
    </div>

    <module-template name="cards/cards" data="sectionCards"></module-template>
</div>