<link rel="stylesheet" type="text/css" href="/resources/css/components/section.css">

<div ng-controller="sectionController">

    <h1 class="text-center">{{translate(section.name)}}</h1>

    <div class="clearfix">
        <div class="text-center section-div">
            <img ng-src="{{section.coverImg}}" class="section-cover">
        </div>
        <div class="section-description" ng-scrollbars ng-scrollbars-config="descriptionScroll">
            {{application.language == 'ru' ? section.descriptionRu : section.descriptionEn}}
        </div>
    </div>

    <module-template name="cards/cards" data="sectionCards"></module-template>
</div>