/*Modal window in custom filter*/
.modal-find{
    padding: 6px;
}

.modal-body.modal-find{
    position: relative;
}

.modal-footer.modal-find{
    text-align: center;
}

.filter-body {
    height: 300px;
}