/*Modal window in custom filter*/
.custom-filter-dialog {
    width: 800px;
}

.modal-find{
    padding: 6px;
}

.modal-body.modal-find{
    position: relative;
}

.modal-footer.modal-find{
    text-align: center;
}

.filter-body {
    height: 300px;
}

.left-block {
}

.filter-logical-operation {
    font-size: 16px;
    padding-right: 15px;
}