.program-cover {
    width: 224px;
    height: 224px;
}

.program-title {
    margin: 0 25px;
}

.program-title h1 {
    margin: 0;
}

.program-change-row {
    margin: 15px 0;
}

.program-author-title {
    font-size: 18px;
}

.program-author-name, .program-author-name:hover, .program-author-name:visited {
    color : black;
}

.program-date {
    color: #1B3FC5;
}

.program-links {
    margin : 15px 0;
    padding: 20px;
    border : 1px dashed black;
}

.program-links-title {
    font-size: 25px;
    font-style: italic;
    color : #32ae23;
}

.program-tags {
    margin: 20px 0;
}

.program-link {
    word-break: break-all;
}

.program-link-margin {
    margin: 10px 0;
}

.program-description {
    resize: vertical;
}

.remove-url {
    color : #cd4142 !important;
}

.program-add-url {
    margin: 10px 0;
    color : #0E76B7;
    font-size: 18px;
}

.program-add-url:hover{
    text-decoration: underline;
}

.update-btn-container {
    margin-bottom: 20px;
}