.selected-row {
    cursor: pointer;
}

.unsortable-column {
    color : #bbb;
    cursor: default;
}

.tooltip-text {
    font-size: 16px;
}

.action {
    margin: 0 20px;
}

.filter-action {
    margin-right: 20px;
    color : #8149CD;
}

.filter-delete {
    color : #cd4142;
}

.row-panel {
    -webkit-transition: max-height 2s ease;
    -moz-transition: max-height 2s ease;
    transition: max-height 2s ease;

    max-height: 400px;
}

.row-panel.ng-hide {
    max-height: 0;
}