.selected-row {
    cursor: pointer;
}

.unsortable-column {
    color : #bbb;
    cursor: default;
}

.tooltip-text {
    font-size: 16px;
}

.action {
    margin: 0 20px;
}

.action-for-item{
    margin: 0 10px;
}

.filter-action {
    margin-right: 20px;
    color : #8149CD;
}

.filter-delete {
    color : #cd4142;
}

.row-panel {
    background-color: #f5f5f5;

}

.item-panel {
}

.row-panel.ng-enter, .row-panel.ng-leave {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.row-panel.ng-enter,
.row-panel.ng-leave.ng-leave-active {
    opacity:0;
    line-height: 0;
    max-height: 0;
}

.row-panel.ng-leave,
.row-panel.ng-enter.ng-enter-active {
    opacity: 1;
    max-height: 200px;

}

.table-selector .filter-panel-item {
    margin-left: 20px;
    margin-bottom: 0;
}

.table-selector [layout-gt-sm] > [flex] {
    margin-bottom: 10px;
}

@media (max-width: 960px){
    .filter-panel-item {
        margin-left: 0;
    }

    .table-selector [layout-gt-sm] > [flex] {
        margin-bottom: 10px;
    }
}