<div ng-controller="postController">
    <!--<textarea insert-at-caret></textarea>-->
    <!--<div>-->
        <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur eos fugiat illum inventore, ipsum labore laboriosam mollitia, natus nisi non nulla odit perferendis porro quas, quasi saepe sint veniam voluptates.-->
    <!--</div>-->
    <!--<div>-->
        <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur eos fugiat illum inventore, ipsum labore laboriosam mollitia, natus nisi non nulla odit perferendis porro quas, quasi saepe sint veniam voluptates.-->
    <!--</div>-->
    <!---->
    <div class="bubble">
        <div class="post-editarea" content-listener="readData" translate="translate">
        </div>
    </div>

    <div class="bubble">
        <div  ng-model="content" class="post-editarea" contenteditable contenteditable-key-listener></div>
        <span class="tool-button tool-button-1">
            <i class="fa fa-camera"></i>
            <md-tooltip md-direction="bottom">
                {{translate("tooltip_image")}}
            </md-tooltip>
        </span>
        <span class="tool-button tool-button-2">
            fx
            <md-tooltip md-direction="bottom">
                {{translate("tooltip_formula")}}
            </md-tooltip>
        </span>
        <span class="tool-button tool-button-3"  ng-click="pasteCode($event)">
            { }
            <md-tooltip md-direction="bottom">
                {{translate("tooltip_code")}}
            </md-tooltip>
        </span>
        <span class="tool-button tool-button-4"   ng-click="openPool($event)">
            <i class="fa fa-code"></i>
            <md-tooltip md-direction="bottom">
                {{translate("tooltip_code_pool")}}
            </md-tooltip>
        </span>
    </div>
    <button ng-click="send()">Paste</button>
    <script type="text/ng-template" id="pasteCode.html">
        <md-dialog aria-label="Paste code" ng-cloak flex="80">
            <form name="codeTag">
                <md-toolbar class="statistic-card-title">
                    <div class="md-toolbar-tools">
                        <h2>{{parentScope.translate("code_header")}}</h2>
                    </div>
                </md-toolbar>
                <md-dialog-content layout-padding>
                        <div class="form-group">
                            <label for="codeTitle">{{parentScope.translate("code_title")}}</label>
                            <input type="text" class="form-control" id="codeTitle" ng-model="parentScope.code.title" required maxlength="50">
                        </div>
                        <div class="form-group" layout="row" layout-padding>
                            <div layout="column" flex>
                                <label for="codeTitle" flex>{{parentScope.translate("code_mode")}}</label>
                                <select class="form-control" ng-model="parentScope.code.mode"
                                        ng-options="m as m.name for m in parentScope.programmingLanguages"
                                        ng-change="parentScope.modeChanged()" flex></select>
                            </div>
                            <div layout="column" flex>
                                <label for="codeTitle" flex>{{parentScope.translate("code_theme")}}</label>
                                <select class="form-control" ng-model="parentScope.code.theme"
                                        ng-options="m as m.name for m in parentScope.programmingStyles"
                                        ng-change="parentScope.themeChanged()" flex></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea class="code-textarea" ui-codemirror="parentScope.cmOption" ng-model="parentScope.code.text" ui-refresh="parentScope.refreshCode"></textarea>
                        </div>

                </md-dialog-content>
                <md-dialog-actions layout="row">
                    <md-button class="md-raised md-primary" ng-disabled="codeTag.$invalid" ng-click="answer(parentScope.code)">
                        {{parentScope.translate("doIt")}}
                    </md-button>
                    <md-button class="md-raised md-warn" ng-click="cancel()">
                        {{parentScope.translate("close")}}
                    </md-button>
                </md-dialog-actions>
            </form>
        </md-dialog>
    </script>
    <script type="text/ng-template" id="tagPool.html">
        <md-dialog aria-label="Tags Pool" ng-cloak flex="80">
                <md-toolbar class="statistic-card-title">
                    <div class="md-toolbar-tools">
                        <h2>{{parentScope.translate("tags_pool_header")}}</h2>
                    </div>
                </md-toolbar>
                <md-dialog-content layout-padding>
                    <div class="form-group" layout="row" layout-padding>
                        <div layout="column" flex>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            №
                                        </th>
                                        <th>
                                            {{parentScope.translate("tags_pool_name")}}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="tag in parentScope.tagPool" ng-click="parentScope.setCurrentTag(tag)">
                                        <td>
                                            {{$index}}
                                        </td>
                                        <td>
                                            {{tag.getName()}}
                                        </td>
                                        <td><md-button class="md-accent" aria-label="Remove"><i class="fa fa-minus-circle"></i></md-button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div layout="column" flex>
                            <div ng-if="parentScope.currentTag">
                                <div ui-codemirror="parentScope.currentTag.getReadOnlyOptions()"></div>
                            </div>
                        </div>
                    </div>

                </md-dialog-content>
                <md-dialog-actions layout="row">
                    <md-button class="md-raised md-primary" ng-disabled="codeTag.$invalid" ng-click="answer(parentScope.code)">
                        {{parentScope.translate("doIt")}}
                    </md-button>
                    <md-button class="md-raised md-warn" ng-click="cancel()">
                        {{parentScope.translate("close")}}
                    </md-button>
                </md-dialog-actions>
        </md-dialog>
    </script>
    <script type="text/ng-template" id="showTag.html">
        <div class="tag">
            <div class="tag-title" ng-click="showCode()">
                <i class="fa" ng-class="codeShown?'fa-caret-down':'fa-caret-right'"></i>
                {{translate("source_code")+' ) '+tag.getName()}}
            </div>
            <div ui-codemirror="tag.getReadOnlyOptions()" ng-if="codeShown"></div>
        </div>
    </script>
</div>

