<div class="simple-comments" ng-controller="simpleCommentController">
    <div layout="row" layout-align="start center">
        <div flex="30"></div>
        <div flex="50">
            <module-template name="components/infoMessage" data="commentErrorMessage"></module-template>
        </div>
        <div flex="20"></div>
    </div>
    <div ng-show="user" layout="row" layout-align="center center" layout-margin layout-align-gt-sm="start center" class="comment-edit">
        <div flex-gt-sm="30" flex="none" class="text-center user-name">
            <img ng-src="{{user.imageSrc}}" class="sender-avatar">
            <br>
            {{translate("i")}}
        </div>
        <div flex>
            <div class="bubble">
                <div  ng-model="commentMessage" class="post-editarea" contenteditable>
                </div>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" ng-show="user" >
        <button class="btn btn-primary"  ng-click="sendMessage(commentMessage)" flex="none" layout-margin>{{translate("send")}}</button>
    </div>

    <div layout="column">
        <div class="not-authorized-text text-center" ng-show="!user" flex>{{translate("comment_not_authorized")}}</div>
        <span layout="row" layout-align="start center">
            <hr flex="80"/>
        </span>
        <div class="comments-count text-center" flex>
            {{translate("comment_count") + commentsInfo.totalEntitiesCount}}
        </div>
    </div>


    <div class="simple-comment" ng-repeat="comment in comments">
        <div layout="row" layout-align="start center" layout-margin>
            <div flex-gt-sm="30" flex="none" class="text-center user-name">
                <a ng-click="goToUserPage(comment)" n class="sender-image">
                    <img ng-src="{{comment.sender.imageSrc}}" class="sender-avatar">
                    <p class="without-default-margin">{{comment.sender.lastName + ' ' + comment.sender.firstName}}</p>
                </a>
                <p class="sender-speciality">{{comment.sender.speciality}}</p>
            </div>
            <div flex-gt-sm="60" flex>
                <i class="fa fa-times right-icon" aria-hidden="true" ng-click="showDeleteCommentDialog($event,comment.id,$index)" ng-hide="!user || user.id !== comment.sender.id"></i>
                <i class="fa fa-lock right-icon" aria-hidden="true" ng-click="showBlockCommentDialog($event,comment.id,$index)" ng-show="comment.editable && comment.commentStatus === 'Normal'""></i>
                <div class="bubble comment-message">
                    <div ng-bind-html="comment.message" ng-show="comment.commentStatus === 'Normal'"></div>
                    <div ng-show="comment.commentStatus !== 'Normal'" class="comment-blocked-message">
                        {{translate(comment.commentStatus.toLowercaseFirstLetter())}}
                    </div>
                </div>
                <div class="comment-time">{{comment.createTime | date : 'medium'}}</div>
            </div>
        </div>
    </div>
    <div class="text-center loadMore comments-padding" ng-show="commentsInfo.totalEntitiesCount > (filter.result.first + filter.max)" ng-click="loadMore()">
        {{translate("load_more")}}
    </div>
</div>  <!--comments-->

<script type="text/ng-template" id="blockComment.html">
    <md-dialog ng-cloak>
        <form>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>{{parentScope.translate("comment_block")}}</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <md-icon md-svg-src="resources/image/svg/close.svg" aria-label="Close dialog"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-dialog-content>
                <div class="md-dialog-content">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>{{parentScope.translate("block_status")}}</label>
                        <md-select ng-model="blockStatus">
                            <md-option ng-repeat="bSt in parentScope.blockStatuses" value="{{bSt}}">
                                {{parentScope.translate(bSt)}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </md-dialog-content>
            <md-dialog-actions layout="row">
                <md-button class="md-raised md-primary" ng-click="answer(blockStatus)">
                    {{parentScope.translate("block")}}
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>
</script>