<div ng-controller="tableSelectorCtrl">
    <div class="table-selector">
        <table class="table table-hover ">
            <caption>{{translate(getData().title)}}</caption>
            <thead>
            <tr>
                <th ng-repeat="column in getData().columns">
                    {{translate(column)}}
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="index in range(getData().content.length) track by $index" class="selected-row" ng-click="setCurrentItem(getData().content[$index])">
                <td ng-repeat="column in getData().columns" \>
                    {{getData().content[$parent.$index][column]}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>