/* Fallback styles */
.book {
    display: inline-block;
    box-shadow: 5px 5px 20px #333;
    margin: 0 auto;
}


.book-wrap {
    margin: 0 15px;
    width: 290px;
}

.book-title {
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    text-align: center;
    cursor: pointer;
}

.book-wrap:hover {
    text-decoration: underline;
}

.csstransforms3d  .books {
    -moz-perspective: 100px;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    overflow: hidden;
}

.csstransforms3d  .book {
    position: relative;
    -moz-perspective: 100px;
    -moz-transform: rotateY(-3deg);
    -webkit-transform: perspective(100) rotateY(-3deg);
    outline: 1px solid transparent; /* Helps smooth jagged edges in Firefox */
    box-shadow: none;
    margin-bottom: 20px;
    margin-top: 30px;
}

.csstransforms3d  .book img {
    position: relative;
    max-width: 100%;
    width: 210px;
    height: 315px;
}

.csstransforms3d  .book:before,
.csstransforms3d  .book:after {
    position: absolute;
    top: 2%;
    height: 96%;
    content: ' ';
    z-index: -1;
}

.csstransforms3d  .book:before {
    width: 100%;
    left: 7.5%;
    background-color: #5a2d18;
    box-shadow: 5px 5px 20px #333;
}

.csstransforms3d  .book:after {
    width: 5%;
    left: 100%;
    background-color: #EFEFEF;
    box-shadow: inset 0px 0px 5px #aaa;
    -moz-transform: rotateY(20deg);
    -webkit-transform: perspective(100) rotateY(20deg);
}

.book img { vertical-align: middle; }

/*-------------------*/
.create-book-btn {
    color: #6EBCD6;
    border-color: #21A8CB;
}

.create-book-btn:hover{
    color: #4A859D;
    border-color: #217CCB;
    background: white;
}

.book-tags {
    margin-bottom: 20px;
}

.create-div {
    margin-bottom: 20px;
}

.group-info {
    margin-bottom: 60px;
}