/*carousel*/
.carousel-container{
    margin-bottom: 20px;
}

.carousel-caption {
    width: 100%;
    background: rgba(52, 52, 52, 0.85);
    left:0;
    right: 0;
    bottom: 0;
    font-size: 1.1em;
}

.carousel-indicators {
    bottom : 0;
}

.carousel-slide{
    max-height: 400px;
}

.carousel-slide img{
    width:100%;
}

.site-information,.site-info-card{
    width:100%;
    position: relative;
}

.site-information a{
    text-decoration: none;
    display: inline-block;
}

.site-information .right-text{
    margin-bottom: 20px;
}

.site-information .left-text{
    margin-bottom: 20px;
}

.site-information:after,.site-info-card:after{
    content:'';
    display:table;
    clear:both;
}