.course-tags {
    margin-bottom: 20px;
}

.create-div {
    margin-bottom: 20px;
}

.group-info {
    margin-bottom: 60px;
}

.course-image {
    width: 112px;
    height: 112px;
}

.course-description {
    word-break: break-all;
}

.image-padding {
    padding: 10px;
}

.course-container{
    position: relative;
}

.course-notification{
    position: absolute;
    right: 0;
    top: -10px;
}

.course-img-notification {
    width: 70px;
    height: 70px;
}

.course-rating {
    margin-left: 4px;
}

.course-do-filter {
    margin: 10px;
}

.course-create-margin {
    margin-top: 25px;
}

.tooltip-text {
    font-size : 1.3em;
}