.top-item {
    list-style-type: none;
    font-size: 24px;
    color : #49D054;
    font-weight: bold;
}

.disabled-item {
    color : #ccc;
}

.first-sub-item  {
    font-size: 18px;
    color : #3493fb;
    font-weight: bold;
}

.sub-items {
    font-size: 16px;
    color : #2844fb;
    font-weight: bold;
}