
<nav class="nav-menu animate-show" ng-show="toggelMenu" ng-scrollbars ng-scrollbars-config="menuScrollConfig">
    <div class="main-menu-info">
        <div class="user-info-card">
            <img src="/resources/image/menu/photo.png" class="user-image" />
            <p class="user-name">Mabel</p>
            <p class="info-about-user">Programmer engener</p>
        </div>

        <div class="link-card">
            <button class="link link-with-vk"></button>
            <button class="link link-with-facebook"></button>
            <button class="link link-with-twitter"></button>
            <button class="link link-with-github"></button>
        </div>
    </div>
    <div>
        <ul class="first-menu-items">
            <li class="first-menu-item" ng-repeat="menuItem in getData().items">
                <a ng-style="{color: menuItem.color}" ng-href="{{'#/'+application.language+menuItem.url}}">
                    <img ng-src="{{menuItem.iconUrl}}"/>
                    {{translate(menuItem.title)}}
                </a>
                <ul class="second-menu-items" ng-show="menuItem.subItems.length">
                    <li class="second-menu-item"  ng-repeat="submenuItem in menuItem.subItems">
                        <a ng-href="{{'#/'+application.language+menuItem.url+submenuItem.url}}">{{translate(submenuItem.title)}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>