<nav class="nav-menu animate-show" ng-show="toggelMenu" ng-scrollbars ng-scrollbars-config="menuScrollConfig">
    <div class="main-menu-info">
        <div class="user-info-card" ng-show="user">
            <img ng-src="{{userImg(user.id)}}" class="main-image" />
            <p class="main-label">{{user.firstName}} {{user.lastName}}</p>
            <a class="logout">({{translate('logout')}})</a>
            <p class="info-about-user">{{user.specialty}}</p>
        </div>

        <div class="user-info-card" ng-hide="user">
            <a ng-href="{{createUrl('/login')}}">
                <img ng-src="{{isMouseenter? '/resources/image/menu/login2.png': '/resources/image/menu/login.png'}}" ng-mouseenter="isMouseenter = true" ng-mouseleave="isMouseenter = false" class="main-image login-image" />
            </a>
            <p class="main-label">{{translate('login')}}</p>
        </div>
        <div class="link-card">
            <button class="link link-with-vk"></button>
            <button class="link link-with-facebook"></button>
            <button class="link link-with-twitter"></button>
            <button class="link link-with-github"></button>
        </div>
    </div>
    <div>
        <ul class="first-menu-items">
            <li class="first-menu-item" ng-repeat="menuItem in getData().items">
                <a ng-style="{color: menuItem.color}" ng-href="{{createUrl(menuItem.url)}}">
                    <img ng-src="{{menuItem.iconUrl}}"/>
                    {{translate(menuItem.title)}}
                </a>
                <ul class="second-menu-items" ng-show="menuItem.subItems.length">
                    <li class="second-menu-item"  ng-repeat="submenuItem in menuItem.subItems">
                        <a ng-href="{{createUrl(menuItem.url+submenuItem.url)}}">{{translate(submenuItem.title)}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>