<link rel="stylesheet" type="text/css" href="/resources/css/components/cards.css">

<div class="site-info-card" ng-controller="cardsController">
    <div class="text-center general-card-title">{{translate(getData().title)}}</div>
    <div class="row thumbnail-card" ng-repeat="items in cardsItem">
        <div class="col-lg-{{colLg}} col-info" ng-repeat="card in items">
            <div class="thumbnail thumbnail-height-300">
                <div class="caption text-center card">
                    <p class="card-image text-center"><img ng-src="{{card.iconUrl}}"></p>
                    <h3 class="card-title">{{translate(card.title)}}</h3>
                    <p class="text-justify">{{translate(card.title+"_card")}}</p>
                    <p class="card-footer"><a ng-href="{{createUrl(getData().prefix + card.url)}}" class="btn btn-primary" role="button">{{translate('go_to')}}</a></p>
                </div>
            </div>
        </div>
    </div>
</div>