<link rel="stylesheet" href="/resources/css/components/courses.css">

<div ng-controller="coursesController">
    <md-content class="content-body folders-toolbar" >
        <div layout="column"  ng-show="showFilterArea">
            <div layout-gt-sm="row" layout="column" layout-align-gt-sm="center center">
                <md-input-container flex class="folders-toolbar-input-container">
                    <span class="folders-toolbar-icon"><i class="fa fa-search" aria-hidden="true"></i></span>
                    <label class="folders-toolbar-label">
                        {{translate("search")}}
                    </label>
                    <input class="folders-toolbar-item" ng-model="searchText">
                </md-input-container>
                <md-input-container  class="folders-toolbar-input-container" flex="grow" flex-gt-sm>
                    <label>{{translate("language")}}</label>
                    <md-select class="folders-toolbar-select" ng-model="selectedLanguage">
                        <md-option ng-value="'any'">{{translate("language")}}</md-option>
                        <md-option ng-value="lang" ng-repeat="lang in langs">{{ translate(lang) }}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout="row" layout-align="center center">
                <div flex-gt-sm>
                    <md-checkbox ng-model="options.isBase" aria-label="Base checkbox">
                        {{translate("course_option_base")}}
                    </md-checkbox>
                </div>
                <div flex-gt-sm>
                    <md-checkbox ng-model="options.isFree" aria-label="Base checkbox">
                        {{translate("course_option_free")}}
                    </md-checkbox>
                </div>
                <div flex-gt-sm ng-show="user">
                    <md-checkbox ng-model="options.isAvailable" aria-label="Base checkbox">
                        {{translate("course_option_avail")}}
                    </md-checkbox>
                </div>
            </div>
            <div layout="row" layout-align="center center" class="course-do-filter">
                <button flex="none" class="btn btn-default filter-panel-item folder-toolbar-btn" ng-click="searchCourse(searchText,selectedLanguage,options)">
                    {{translate("do_filter")}}
                </button>
            </div>
        </div>
        <div class="create-area" layout="column" ng-show="showCreateArea">
            <div layout-gt-sm="row" layout-align-gt-sm="start center" layout-fill flex class="course-create-margin">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>{{translate("name")}}</label>
                    <input ng-model="newCourse.name">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>{{translate("choose_language")}}</label>
                    <md-select ng-model="newCourse.language">
                        <md-option ng-value="lang" ng-repeat="lang in langs">{{ translate(lang)}}</md-option>
                    </md-select>
                </md-input-container>
                <div class="checkbox-container" flex-gt-sm>
                    <md-checkbox ng-model="newCourse.base" aria-label="Base checkbox" ng-init="newCourse.base = true">
                        {{translate("course_is_base")}}
                    </md-checkbox>
                </div>
            </div>
            <div layout="row" flex>
                <md-input-container class="md-block" flex>
                    <label>{{translate("description")}}</label>
                    <textarea ng-model="newCourse.description" md-maxlength="1500" rows="3" md-select-on-focus></textarea>
                </md-input-container>
            </div>
            <div layout="column" class="tags-container" flex ng-init="newProgram.tags = []">
                <div class="md-title" flex>{{translate("tags")}}</div>
                <md-chips ng-model="newProgram.tags" readonly="false" flex></md-chips>
            </div>
            <div layout="row" class="create-div" layout-align="center">
                <button flex="none" class="btn btn-default blue-btn" ng-click="createCourse(newCourse)">{{translate("course_create")}}</button>
            </div>
        </div>
    </md-content>
    <md-content class="content-body folders-body" ng-style="{'min-height' : screenHeight-45-125 + 'px'}">
        <div layout-gt-sm="row" layout-align="center">
            <p class="title text-center" flex-gt-sm="none">
                {{translate("courses")}} ({{coursesInfo.totalEntitiesCount + " " + translate("of_records")}})
            </p>
        </div>
        <div layout-gt-sm="row" layout-align="center center" class="group-info">
            <h1 class="title text-center" flex-gt-sm="none">{{groupCourseInfo.list[0].title}}</h1>

            <div flex class="folders-orderBy text-center">
                <span ng-repeat="sort in sortings">
                     <span class = "folder-order" ng-class="currentFilter == sort.id ? 'active' : ''" ng-click="sort.callback()">
                         {{translate(sort.title)}}
                            <i class="fa fa-long-arrow-down" aria-hidden="true" ng-show="currentFilter == sort.id && orderDesc"></i>
                            <i class="fa fa-long-arrow-up" aria-hidden="true" ng-show="currentFilter == sort.id && !orderDesc"></i>
                     </span>
                     <span ng-if="!$last">/</span>
                </span>
            </div>
            <div ng-show="coursesInfo.creatable" flex-gt-sm="none" class="text-center" layout-margin-gt-sm>
                <button class="btn btn-default blue-btn" ng-click="showCreateArea = !showCreateArea; showFilterArea = !showFilterArea">{{translate("create")}}</button>
            </div>
        </div>
        <div layout-wrap layout="row">
            <div class="course-container" flex-sm flex-gt-sm="50" ng-repeat="course in courses" class="text-center">
                <img src="/resources/image/sale.png" class="course-notification"/>
                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{course.name}}</span>
                            <span class="md-subhead course-description">{{course.description}}</span>
                            <module-template name="components/price" data="course.item.price"></module-template>
                        </md-card-title-text>
                        <md-card-title-media class="image-padding">
                            <a ng-href="{{course.href}}">
                                <img class="md-media-md" ng-src="{{course.imageSrc}}"/>
                            </a>
                            <div class="course-rating">
                                <div star-rating ng-model="course.rating.avgRating" max="5"
                                     readonly="true">
                                </div>
                            </div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button>
                            <a ng-href="{{course.href}}" class="link-without-style">
                                {{translate("go_to")}}
                            </a>
                        </md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </div>
        <div layout="row" class="load-more-div" layout-align="center center" ng-show="coursesInfo.totalEntitiesCount > (filter.result.first + filter.max)">
            <span ng-click="loadMore()" class="loadMore">{{translate("load_more")}}</span>
        </div>
    </md-content>
</div>