<link rel="stylesheet" href="/resources/css/components/folders.css">

<div ng-controller="foldersController">
    <md-content class="content-body folders-toolbar">
        <md-input-container class="folders-toolbar-input-container">
            <span class="folders-toolbar-icon"><i class="fa fa-search" aria-hidden="true"></i></span>
            <label class="folders-toolbar-label">
                {{translate("search")}}
            </label>
            <input class="folders-toolbar-item" ng-model="searchText">
        </md-input-container>
        <button class="btn btn-default filter-panel-item folder-toolbar-btn" ng-click="searchFilter(searchText)">{{translate("do_filter")}}</button>
    </md-content>
    <md-content class="content-body folders-body">
        <div layout-gt-xs="row" layout-align="center center">
            <h1 class="title" flex="40">{{data.title}} ({{foldersInfo.totalEntitiesCount + " " + translate("of_records")}})</h1>
            <div layout-align="center center" flex class="folders-orderBy">
                <span class="{{!currentFilterByDate ? 'active' : ''}}" ng-click="by_count()">{{translate("by_count")}}</span> / <span class="{{currentFilterByDate ? 'active' : ''}}" ng-click="by_date()">{{translate("by_date")}}</span>
            </div>
        </div>
        <div class="row" ng-repeat="folders in foldersGroup">
            <div class="col-lg-4" ng-repeat="folder in folders">
                <div class="folder">
                    <div>
                        <img class="folder-img" ng-src="{{folder.imgSrc}}">
                    </div>
                    <div class="folder-title">
                        {{folder.title}}
                    </div>
                    <div class="folder-stat">
                        <div class="text-center">
                            {{folder[getData().totalCountFieldName]}}
                        </div>
                        <div class="text-center">
                            {{translate("folder_totals_count")}}
                        </div>
                    </div>
                    <div class="folder-btn" ng-click="goTo(folder.url)">
                        {{translate("folder_in")}}
                    </div>
                </div>
            </div>
        </div>
    </md-content>
    <md-content layout="row" layout-align="center center" ng-show="foldersInfo.totalEntitiesCount > (filter.result.first + filter.max)">
        <span ng-click="loadMore()" class="loadMore">{{translate("load_more")}}</span>
    </md-content>
</div>