<link rel="stylesheet" href="/resources/css/components/folders.css">

<div ng-controller="foldersController">
    <md-content class="folders-toolbar">
        <md-input-container class="md-block">
            <label>Search</label>
            <input class="folders-toolbar-input">
        </md-input-container>
    </md-content>
    <div><h1 class="title">{{data.title}}</h1></div>
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card ng-repeat="folder in splitArray(folders,true)">
                <img ng-src="{{folderImg(folder.id)}}" class="md-card-image" alt="Washed Out">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{folder.title}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        {{folder["description"+application.language.capitalizeFirstLetter()]}}
                    </p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-disabled="!folder.url" ng-click="goTo(folder.url)">{{translate("move")}}</md-button>
                </md-card-actions>
            </md-card>
        </div>
        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card ng-repeat="folder in splitArray(folders,false)">
                <img ng-src="{{folderImg(folder.id)}}" class="md-card-image" alt="Washed Out">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{folder.title}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        {{folder["description"+application.language.capitalizeFirstLetter()]}}
                    </p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button><a ng-href="{{folder.url}}">{{translate("move")}}</a></md-button>
                </md-card-actions>
            </md-card>
        </div>
    </md-content>
    <md-content layout="row" layout-align="center center">
        <span ng-click="loadMore()" class="loadMore">{{translate("load_more")}}</span>
    </md-content>
</div>