<link rel="stylesheet" href="/resources/css/components/programs.css">

<div ng-controller="programsController">
    <md-content class="content-body folders-toolbar" >
        <div layout="row" layout-align="center center">
            <md-input-container flex class="folders-toolbar-input-container">
                <span class="folders-toolbar-icon"><i class="fa fa-search" aria-hidden="true"></i></span>
                <label class="folders-toolbar-label">
                    {{translate("search")}}
                </label>
                <input class="folders-toolbar-item" ng-model="searchText">
            </md-input-container>
            <md-input-container  flex="grow" flex-gt-sm>
                <label>{{translate("language")}}</label>
                <md-select ng-model="selectedLanguage">
                    <md-option ng-value="'any'">{{translate("language")}}</md-option>
                    <md-option ng-value="lang" ng-repeat="lang in langs">{{ translate(lang) }}</md-option>
                </md-select>
            </md-input-container>
            <button flex="none" class="btn btn-default filter-panel-item folder-toolbar-btn" ng-click="searchPrograms(searchText,selectedLanguage)">
                {{translate("do_filter")}}
            </button>
        </div>
        <div layout="column" ng-show="showCreateArea">
            <div layout-gt-sm="row" flex>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>{{translate("name")}}</label>
                    <input ng-model="newProgram.name">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>{{translate("choose_language")}}</label>
                    <md-select ng-model="newProgram.language">
                        <md-option ng-value="lang" ng-repeat="lang in langs">{{ translate(lang)}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout="row" flex>
                <md-input-container class="md-block" flex>
                    <label>{{translate("description")}}</label>
                    <textarea ng-model="newProgram.description" md-maxlength="500" rows="3" md-select-on-focus></textarea>
                </md-input-container>
            </div>
            <div layout="column" class="program-tags" flex ng-init="newProgram.tags = []">
                <div class="md-title" flex>{{translate("tags")}}</div>
                <md-chips ng-model="newProgram.tags" readonly="false" flex></md-chips>
            </div>
            <div layout="row" class="create-div" layout-align="center">
                <button flex="20" class="btn btn-default create-program-btn" ng-click="createProgram(newProgram)">{{translate("program_create")}}</button>
            </div>
        </div>
    </md-content>
    <md-content class="content-body folders-body">
        <div layout-gt-sm="row" layout-align="center">
            <p class="title text-center" flex-gt-sm="none">
                {{translate("programs")}} ({{programsInfo.totalEntitiesCount + " " + translate("of_records")}})
            </p>
        </div>
        <div layout-gt-sm="row" layout-align="center center" class="group-info">
            <h1 class="title text-center" flex-gt-sm="none">{{groupProgramInfo.list[0].title}}</h1>

            <div flex class="folders-orderBy text-center">
                <span class="{{!currentFilterByDate ? 'active' : ''}}"
                      ng-click="by_name()">{{translate("by_name")}}</span> / <span
                    class="{{currentFilterByDate ? 'active' : ''}}" ng-click="by_date()">{{translate("by_date")}}</span>
            </div>
            <div ng-show="programsInfo.creatable" flex-gt-sm="none" class="text-center" layout-margin-gt-sm>
                <button class="btn btn-default create-program-btn" ng-click="showCreateArea = !showCreateArea">{{translate("create")}}</button>
            </div>
        </div>
        <div layout-wrap layout="row">
            <div flex-sm flex-gt-sm="50" ng-repeat="program in programs" class="text-center book-wrap">
                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{program.name}}</span>
                            <span class="md-subhead program-description">{{program.description}}</span>
                        </md-card-title-text>
                        <md-card-title-media class="image-padding">
                            <a ng-href="{{program.href}}">
                                <img class="md-media-md" ng-src="{{program.imageSrc}}"/>
                            </a>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button>
                            <a ng-href="{{program.href}}" class="link-without-style">
                                {{translate("go_to")}}
                            </a>
                        </md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </div>
        <div layout="row" class="load-more-div" layout-align="center center" ng-show="programsInfo.totalEntitiesCount > (filter.result.first + filter.max)">
            <span ng-click="loadMore()" class="loadMore">{{translate("load_more")}}</span>
        </div>
    </md-content>
</div>