<link rel="stylesheet" href="/resources/css/dialogs/customFilter.css">

<div class="modal fade" id="customFilterDialogId" ng-controller="customFilterController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-find">
                   <div>
                        SSS
                   </div>
            </div><!-- /.modal-header -->
            <div class="modal-body modal-find">
               <div class="row filter-body">
                   <div class="col-lg-6">

                   </div>
                   <div class="col-lg-6"></div>
               </div>
            </div>
            <div class="modal-footer modal-find">
                <button type="button" class="btn btn-primary" ng-disabled="true" ng-click="saveFilter()">{{translate("do_filter")}}</button>
                <button type="button" class="btn btn-danger" ng-click="closeModal()">{{translate("close")}}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->