<link rel="stylesheet" href="/resources/css/dialogs/customFilter.css">

<div class="modal fade" id="customFilterDialogId" ng-controller="customFilterController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-find">
                   <div ng-repeat="element in request">
                        {{element.value}}
                   </div>
                   <div>{{currentFilterExpression.field.info.name}}</div>
            </div><!-- /.modal-header -->
            <div class="modal-body modal-find">
               <div class="row filter-body">
                   <div class="col-lg-6 left-block">
                       <table class="table table-hover">
                           <caption>{{translate("filter_fields")}}</caption>
                           <thead>
                           <tr>
                               <th>{{translate("name")}}</th>
                               <th>{{translate("type")}}</th>
                               <th>{{translate("title")}}</th>
                           </tr>
                           </thead>
                           <tbody>
                               <tr ng-repeat="filterInfo in filtersInfo" class="selected-row" ng-click="addField(filterInfo)">
                                   <td>{{filterInfo.field}}</td>
                                   <td>{{filterInfo.type}}</td>
                                   <td>{{translate(filterInfo.title)}}</td>
                               </tr>
                           </tbody>
                       </table>
                   </div>
                   <div class="col-lg-6">
                       <div ng-if="currentFilterExpression.field && !isParamsInput" ng-switch="currentFilterExpression.field.info.type">
                           <div ng-switch-when="text">
                               <div class="radio" ng-repeat="value in operationMap.text.values">
                                   <label>
                                       <input type="radio" name="operations" ng-value="value" ng-model="selectedOperation.value">{{value.name + '(' + value.symbol + ')'}}
                                   </label>
                               </div>
                           </div>
                           <div ng-switch-when="number">
                               <div class="radio" ng-repeat="value in operationMap.number.values">
                                   <label>
                                       <input type="radio" name="operations" ng-value="value" ng-model="selectedOperation.value">{{value.name + '(' + value.symbol + ')'}}
                                   </label>
                               </div>
                           </div>
                           <div ng-switch-default>
                               <div class="radio" ng-repeat="value in operationMap.other.values">
                                   <label>
                                       <input type="radio" name="operations" ng-value="value" ng-model="selectedOperation.value">{{value.name + '(' + value.symbol + ')'}}
                                   </label>
                               </div>
                           </div>
                           <div>
                               <button class="btn btn-default" ng-if="selectedOperation.value" ng-click="addOperation()">{{translate("next")}}</button>
                           </div>
                       </div>
                       <div ng-if="isParamsInput">
                           <div ng-switch="currentFilterExpression.field.info.type">
                               <div ng-switch-when="text">
                                   <div class="form-group">
                                       <label for="text-param">{{translate("parameter")}}</label>
                                       <input type="text" class="form-control" id="text-param" ng-model="params">
                                   </div>
                               </div>
                               <div ng-switch-when="number">
                                   <div ng-if="selectedOperation.value.name === 'between'">
                                       <div class="form-group">
                                           <label for="between-param1">{{translate("from")}}</label>
                                           <input type="number" class="form-control" id="between-param1" ng-model="params">
                                       </div>
                                       <div class="form-group">
                                           <label for="between-param2">{{translate("to")}}</label>
                                           <input type="number" class="form-control" id="between-param2" ng-model="params2">
                                       </div>
                                   </div>
                                   <div ng-if="selectedOperation.value.name !== 'between'">
                                       <div class="form-group">
                                           <label for="number-param">{{translate("number")}}</label>
                                           <input type="number" class="form-control" id="number-param" ng-model="params">
                                       </div>
                                   </div>
                               </div>
                           </div>
                           <button class="btn btn-default"  ng-click="createFilterExpression(params,params2)">{{translate("ok")}}</button>
                       </div>

                   </div>
               </div>
            </div>
            <div class="modal-footer modal-find">
                <button type="button" class="btn btn-primary" ng-disabled="true" ng-click="saveFilter()">{{translate("do_filter")}}</button>
                <button type="button" class="btn btn-danger" ng-click="closeModal()">{{translate("close")}}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->