<link rel="stylesheet" href="/resources/css/dialogs/list-dialog.css">

<div class="modal fade" id="listDialogId" ng-controller="listDialogController" ng-form name="selectForm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-find">
                    <span class="caption-find">
                        <input name="search-input" type="text" class="form-control select-input on-error" placeholder="{{translate('search_for')}}"
                               ng-model="currenItem[titleField]" ng-keyup="updateList()" autocomplete="off">
                    </span>
            </div>
            <div class="modal-body modal-find">
                <div class="table-content" ng-scrollbars ng-scrollbars-config="selectScrollConfig">
                    <table class="table table-border">
                        <tr class="caption-find" ng-repeat="item in filtredList" ng-mouseenter="onEvent($event)"
                            ng-mouseleave="onEvent($event)" ng-click="setModalModel($event,item)">
                            <td>
                                {{item[titleField]}}
                            </td>
                        </tr>
                        <tr ng-if="empty()">
                            <td>
                                {{translate('no_item')}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer modal-find">
                <button type="button" class="btn btn-primary" ng-disabled="!currenItem" ng-click="saveModalModel()">{{translate("save")}}</button>
                <button type="button" class="btn btn-danger" ng-click="closeModal()">{{translate("close")}}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->