<link rel="stylesheet" href="/resources/css/dialogs/video-dialog.css">

<!-- Modal -->
<div ng-controller="videoDialogController" class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog video" role="document">
        <div class="modal-content modal-center">
            <video id="main-video" class="video-js vjs-default-skin vjs-big-play-centered">
            </video>
            <module-template name="comments/simpleComment" data="commentData"></module-template>
        </div> <!--modal content-->
    </div> <!--modal dialog video-->
</div>