<div class="dropdown" ng-controller="dateTimePickerController">
    <a class="dropdown-toggle" ng-attr-id="{{inputId}}" role="button" data-toggle="dropdown" data-target="#">
        <div class="input-group">
            <input type="text" class="form-control" data-ng-model="data.dateDropDownInput" data-date-time-input="{{inputFormat}}">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-calendar"></i>
            </span>
        </div>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="calendar">
        <datetimepicker data-ng-model="data.dateDropDownInput" data-datetimepicker-config="config" data-on-set-time="onTimeSet(newDate, oldDate)"/>
    </ul>
</div>