<div ng-controller="datepickerCtrl" class="datepicker">
    <p class="input-group">
        <input type="text" class="form-control on-error on-success" ng-model="date"
               uib-datepicker-popup="{{getFormat()}}" datepicker-popup-format
               is-open="status.opened"
               min-date="minDate" max-date="maxDate" datepicker-options="dataOptions"
               current-text="{{popupOptions.current}}" clear-text="{{popupOptions.clear}}" close-text="{{popupOptions.close}}"
               date-disabled="disabled(date, mode)"
               ng-required="required"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i
                        class="glyphicon glyphicon-calendar"></i></button>
              </span>
        {{getData()}}
    </p>
    {{data}}
</div>