<div style="position: relative" ng-controller="listController" ng-form name="selectForm">
    <div class="select-with-input" hide-options="hideSelect()">
        <div class="input-group"  ng-class="classForInput">
            <input name="main-select" type="text" ng-disabled="isDisabled()" ng-required="isRequired()" class="form-control select-input on-error"
                   placeholder="{{translate('search_for')}}" ng-keyup="onKeyUp()" ng-model="selectedItem[titleField]" autocomplete="off">

            <div class="input-group-btn">
                <button class="btn btn-default" ng-disabled="isDisabled()" type="button" ng-click="openDialog()">
                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                </button>
            </div>

        </div><!-- /input-group -->
        <input type="text" style="display:none;width:0;height:0"/>
        <div class="select-options-container" ng-show="isShowSelectOptions">
            <ul class="select-options">
                <li class="select-option" ng-repeat="item in filtredList" ng-mouseenter="onEvent($event)" ng-mouseleave="onEvent($event)" ng-click="setItem(item)">{{item[titleField]}}</li>
            </ul>
        </div>

    </div>
</div>