<div ng-cloak>
    <md-content>
        <label>{{getData().label}} : </label>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab ng-repeat="(key,l) in getData().languages" label="{{translate(key)}}">
                <md-content class="md-padding">
                    <md-input-container class="md-block">
                        <textarea ng-model="getData().languages[key]" aria-label="multilanguage" md-select-on-focus></textarea>
                    </md-input-container>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>