<div ng-controller="inputCtrl">

    <div class="select-with-input">
        <div class="input-group">
            <input type="text" class="form-control select-input" placeholder="Search for..." ng-keyup="setSelect(true)" ng-model="model">
            <div class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="open()">
                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                </button>
            </div>

        </div><!-- /input-group -->

        <div class="select-options-container" ng-show="choose">
            <ul class="select-options">
                <!--{{getItem(item)}}-->
                <li class="select-option" ng-repeat="item in filteredData =  (getData().list | filter: getFilter() | limitTo:count)" ng-mouseenter="onEvent($event)" ng-mouseleave="onEvent($event)" ng-click="setModel(item)">{{item}}</li>
            </ul>
        </div>



    </div>

    <div class="modal fade" ng-attr-id="{{id}}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-find">
                    <table class="table table-border">
                        <caption class="caption-find">
                            <input type="text" class="form-control select-input" placeholder="Search for..." ng-model="model">
                        </caption>
                        <tr class="caption-find" ng-repeat="item in data"  ng-mouseenter="onEvent($event)" ng-mouseleave="onEvent($event)" ng-click="setModel(item)">
                            <td>
                                {{getItem(item)}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>