<div ng-controller="selectImgCtrl">
    <div class="main-image-container">
        <div class="image-container">
            <img ng-src="{{getImage()}}" class="original-image">
        </div>
        <div class="fileUpload btn btn-img original-image-btn">
            <span ng-show="showModal()">{{translate("uploadAvatar")}}</span>
            <span ng-hide="showModal()">{{translate("change_image")}}</span>
            <input type="file" id="fileInput" class="upload" onchange="angular.element(this).scope().uploadFile(this.files[0],event);"/>
        </div>
    </div>


    <script type="text/ng-template" id="cropModal.html">
        <md-dialog aria-label="Crop dialog" ng-cloak>
            <md-dialog-content >
                <div layout="row" class="crop-content">
                    <div class="cropArea"  flex="66">
                        <img-crop image="parentScope.item.original" result-image="parentScope.item.cropImage"
                                  on-change="parentScope.onChange($dataURI)"
                                  area-type="{{parentScope.getAreaType()}}">
                        </img-crop>
                    </div>
                    <div class="crop-body text-center" flex>
                        <img ng-src="{{parentScope.item.cropImage}}" class="original-image" layout-margin>
                        <div class="fileUpload btn btn-img btn-reload-img" layout-margin>
                            <span>{{parentScope.translate("change_image")}}</span>
                            <input type="file" class="upload" onchange="angular.element(this).scope().parentScope.uploadFile(this.files[0],event);"/>
                        </div>
                        <div layout="row">
                            <button type="button" class="btn btn-success" ng-click="cancel()" flex layout-margin>{{parentScope.translate('save')}}</button>
                            <button type="button" class="btn btn-default" ng-click="cancel()" flex layout-margin>{{parentScope.translate('cancel')}}</button>
                        </div>
                    </div>
                </div>
            </md-dialog-content>
        </md-dialog>
    </script>
</div>
