<div style="position: relative" ng-controller="inputCtrl" ng-form name="selectForm">
    <div class="select-with-input" hide-options="hideSelect()">
        <div class="input-group"  ng-class="class">
            <input name="main-select" type="text" ng-disabled="isDisabled()" ng-required="required" class="form-control select-input on-error" placeholder="Search for..." ng-keyup="setSelect(true)" ng-model="model">
            <div class="input-group-btn">
                <button class="btn btn-default" ng-disabled="isDisabled()" type="button" ng-click="open()">
                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                </button>
            </div>

        </div><!-- /input-group -->
        <div class="select-options-container" ng-show="choose">
            <ul class="select-options">
                <li class="select-option" ng-repeat="item in getFilteredData()" ng-mouseenter="onEvent($event)" ng-mouseleave="onEvent($event)" ng-click="setModel(item)">{{getItem(item)}}</li>
            </ul>
        </div>
    </div>

    <div class="modal fade" ng-attr-id="{{id}}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-find">
                    <span class="caption-find">
                        <input name="search-input" type="text" class="form-control select-input on-error" placeholder="Search for..."
                               ng-model="modalModel">
                    </span>
                </div>
                <div class="modal-body modal-find">
                    <div class="table-content" ng-scrollbars ng-scrollbars-config="selectScrollConfig">
                        <table class="table table-border">
                            <tr class="caption-find" ng-repeat="item in getFilteredData(true)" ng-mouseenter="onEvent($event)"
                                ng-mouseleave="onEvent($event)" ng-click="setModalModel($event,item)">
                                <td>
                                    {{getItem(item)}}
                                </td>
                            </tr>
                            <tr ng-if="empty(true)">
                                <td>
                                    {{translate('No_Item')}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="modal-footer modal-find">
                    <button type="button" class="btn btn-primary" ng-disabled="!selectModalValue" ng-click="saveModalModel()">Save</button>
                    <button type="button" class="btn btn-danger" ng-click="closeModal()">Cancel</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>