<div ng-controller="selectImgCtrl">
    <div class="main-image-container">
        <div class="image-container">
            <img ng-src="{{getImage()}}" class="original-image">
        </div>
        <button class="btn original-image-btn">{{translate("change_image")}}</button>
    </div>
    <div class="image-container" ng-if="!showModal()">
        <img-crop image="getImage()" result-image="croppedImg"
                  on-change="onChange($dataURI)"
                  on-load-begin="onLoadBegin()"
                  on-load-done="onLoadDone()"
                  on-load-error="onLoadError()"
                  area-type="{{getAreaType()}}">
        </img-crop>
    </div>

    <div class="fileUpload btn btn-default">
        <span>{{translate("uploadAvatar")}}</span>
        <input type="file" id="fileInput" class="upload"onchange="angular.element(this).scope().uploadFile(this.files[0]);"/>
    </div>


    <script type="text/ng-template" id="cropModal.html">
        <div class="modal-body">
            <div class="crop-modal cropArea">
                <img-crop image="item.original" result-image="item.cropImage"
                          on-change="onChange($dataURI)"
                          on-load-begin="onLoadBegin()"
                          on-load-done="onLoadDone()"
                          on-load-error="onLoadError()"
                          area-type="{{getAreaType()}}">
                </img-crop>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="cancel()">{{parentScope.translate('save')}}</button>
        </div>
    </script>
</div>