<div style="position: relative" ng-controller="textPlainCtrl" ng-form name="selectForm">
    <div class="select-with-input">
        <div class="input-group"  ng-class="class">
            <input name="main-select" type="text" ng-disabled="isDisabled()" ng-required="required" class="form-control select-input on-error" ng-model="plainText" ng-value="getData().slice(0,120) + '...'">
            <div class="input-group-btn">
                <button class="btn btn-default" ng-disabled="isDisabled()" type="button" ng-click="open('lg' , getData())">
                    <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                </button>
            </div>
        </div>
        <script type="text/ng-template" id="textPlaneContent.html">
            <div class="modal-body">
                {{item}}
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="ok(item.className,item.actionName)">{{parentScope.translate('save')}}</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">{{parentScope.translate('close')}}</button>
            </div>
        </script>
    </div>
</div>