<div ng-controller="uploadFilesController">
    <button type="button" class="btn btn-success" ng-click="showFileDialog(event)">{{translate(getData().btnTitle)}}
    </button>

    <script type="text/ng-template" id="uploadFileDialog.html">
        <md-dialog aria-label="Upload image" ng-cloak>
            <form>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>{{parentScope.translate("file_uploader")}}</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="cancel()">
                            <md-icon md-svg-src="resources/image/svg/close.svg" aria-label="Close dialog"></md-icon>
                        </md-button>
                    </div>
                </md-toolbar>

                <md-dialog-content>
                    <div layout="column" class="file-zone-upload" layout-margin layout-align="center">
                        <div ng-show="parentScope.uploader.isHTML5" flex>
                            <div nv-file-drop="" uploader="parentScope.uploader">
                                <div layout="row" layout-align="center center" nv-file-over=""
                                     uploader="parentScope.uploader" over-class="file-over-class"
                                     class="file-drop-zone text-center">
                                    <span flex>
                                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                        {{parentScope.translate("file_drop_zone")}}
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div ng-if="parentScope.getData().multiplyFiles" flex="none">
                            <div class="file-select-zone">

                                <label class="btn btn-default btn-file">
                                    {{parentScope.translate("file_select_multiply_files")}}
                                    <input type="file" style="display: none;" nv-file-select=""
                                           uploader="parentScope.uploader" multiple/>
                                </label>

                            </div>
                        </div>

                        <div ng-if="!parentScope.getData().multiplyFiles" flex="none">
                            <div class="file-select-zone">
                                <label class="btn btn-default btn-file">
                                    {{parentScope.translate("file_select_single_file")}}
                                    <input type="file" style="display: none;" nv-file-select=""
                                           uploader="parentScope.uploader"/>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div layout="column" layout-align="center" layout-margin>
                            <p class="file-title">{{parentScope.translate(parentScope.getData().title)}}</p>
                            <p>{{parentScope.translate("file_queue_length")}} : {{parentScope.uploader.queue.length }}</p>
                        </div>

                        <div ng-if="parentScope.getData().multiplyFiles">
                            <div>
                                {{parentScope.translate("file_progress")}}
                                <div class="progress" style="">
                                    <div class="progress-bar" role="progressbar"
                                         ng-style="{ 'width': parentScope.uploader.progress + '%' }"></div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-success btn-s"
                                    ng-click="parentScope.uploader.uploadAll()"
                                    ng-disabled="!parentScope.uploader.getNotUploadedItems().length">
                                <span class="glyphicon glyphicon-upload"></span>
                                {{parentScope.translate("upload_all")}}
                            </button>
                            <button type="button" class="btn btn-warning btn-s"
                                    ng-click="parentScope.uploader.cancelAll()"
                                    ng-disabled="!parentScope.uploader.isUploading">
                                <span class="glyphicon glyphicon-ban-circle"></span>
                                {{parentScope.translate("cancel_all")}}
                            </button>
                            <button type="button" class="btn btn-danger btn-s"
                                    ng-click="parentScope.uploader.clearQueue()"
                                    ng-disabled="!parentScope.uploader.queue.length">
                                <span class="glyphicon glyphicon-trash"></span>
                                {{parentScope.translate("remove_all")}}
                            </button>
                        </div>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th >{{parentScope.translate("file_name")}}</th>
                                    <th ng-show="parentScope.uploader.isHTML5">{{parentScope.translate("file_size")}}</th>
                                    <th ng-show="parentScope.uploader.isHTML5">{{parentScope.translate("file_progress")}}</th>
                                    <th>{{parentScope.translate("file_status")}}</th>
                                    <th>{{parentScope.translate("file_actions")}}</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in parentScope.uploader.queue">
                                <td>{{ item.file.name }}</td>
                                <td ng-show="parentScope.uploader.isHTML5" nowrap>
                                    {{ item.file.size/1024/1024|number:2}} {{parentScope.translate("mb")}}
                                </td>
                                <td ng-show="parentScope.uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar"
                                             ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="fa fa-check" aria-hidden="true"></i></span>
                                    <span ng-show="item.isCancel"><i class="fa fa-ban" aria-hidden="true"></i></span>
                                    <span ng-show="item.isError"><i class="fa fa-trash" aria-hidden="true"></i></span>
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()"
                                            ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> {{parentScope.translate("upload")}}
                                    </button>
                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()"
                                            ng-disabled="!item.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> {{parentScope.translate("cancel")}}
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> {{parentScope.translate("remove")}}
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </md-dialog-content>
            </form>
        </md-dialog>
    </script>
</div>
