.book-cover {
    width: 252px;
    height: 378px;
}

.book-title {
    margin: 0 25px;
}

.book-title h1 {
    margin: 0;
}

.book-change-row {
    margin: 15px 0;
}

.book-author-title {
    font-size: 18px;
}

.book-author-name , .book-author-name:hover, .book-author-name:visited {
    color : black;
}

.book-date {
    color: #1B3FC5;
}

.book-links {
    margin : 15px 0;
    padding: 20px;
    border : 1px dashed black;
}

.book-links-title {
    font-size: 25px;
    font-style: italic;
    color : #32ae23;
}

.book-tags {
    margin: 20px 0;
}

.book-link {
    word-break: break-all;
}

.book-link-margin {
    margin: 10px 0;
}

.book-description {
    resize: vertical;
}

.remove-url {
    color : #cd4142 !important;
}

.book-add-url{
    margin: 10px 0;
    color : #0E76B7;
    font-size: 18px;
}

.book-add-url:hover{
    text-decoration: underline;
}

.update-btn-container {
    margin-bottom: 20px;
}

.update-book-btn {
    color: #6EBCD6;
    border-color: #21A8CB;
}

.update-book-btn:hover{
    color: #4A859D;
    border-color: #217CCB;
    background: white;
}