.course-info {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #1a1a1a;
    color: white;
    /*Iphone 5 width*/
    min-width: 320px;
}

.course-intro-video {
    margin: 20px;
}

.course-info-left-block {
    margin: 20px;
}

.course-title {
    font-size: 24px;
}

.chip-image {
    vertical-align: baseline;
}

.course-tag-name {
    color: red;
}

.course-tags {
    font-size: 1.3em;
}

.course-knowledge-title {
    margin-top: 10px;
    font-size: 1.3em;
}


.course-author-row {
    margin-left: -10px;
    margin-top: -10px;
    margin-bottom: 15px;
}

.course-content {
    padding-top: 30px;
    background-color: rgb(245, 245, 245);
    margin: 0 -20px;
}

.course-tutorials-title {
    font-size: 2em;
    margin-bottom: 15px;
}

.course-tutorial {
    border-top: 1px solid #e6e6e6;
    cursor: pointer;
}

.course-tutorial:hover {
    background-color: white;
}

.course-tutorial-inner {
    margin: 0;
    padding: 10px 0;
}

.course-tutorial:hover .course-tutorial-name{
    color : rgb(216, 92, 22);
}

.course-tutorial-wrap {
    padding-left: 35px;
}

.course-tutorial-time {
    margin-right: 10px;
}

.course-author-block {
    background: #fff;
    margin: 0 45px;
}

.course-author-link {
    padding: 20px;
    display: block;
}

.course-author-block img{
    height: auto;
    width: auto;
}

.course-description {
    background: #fff;
    padding: 15px;
    margin: 15px 45px;
}

.course-image {
    height: 112px;
    width: 112px;
}

.course-disabled-link,.course-disabled-link .link-without-style {
    color : #858585;
    cursor: not-allowed;
}

.course-disabled-link:hover .course-tutorial-name{
    color : #858585;
}

.course-update-btn-row {
    margin-top: 20px;
}
