.course-info {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #1a1a1a;
    color: white;
    margin-top: -10px;
    /*Iphone 5 width*/
    min-width: 320px;
}

.course-intro-video {
    margin: 20px;
}

.course-info-left-block {
    margin: 20px;
}

.course-title {
    font-size: 24px;
}

.chip-image {
    vertical-align: baseline;
}

.course-tag-name {
    color: red;
}

.course-tags {
    font-size: 1.3em;
}

.course-knowledge-title {
    font-size: 1.3em;
}
