.course-info {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #1a1a1a;
    color: white;
    margin-top: -10px;
    /*Iphone 5 width*/
    min-width: 320px;
}

.course-intro-video {
    margin: 20px;
}

.course-info-left-block {
    margin: 20px;
}

.course-title {
    font-size: 24px;
}

.chip-image {
    vertical-align: baseline;
}

.course-tag-name {
    color: red;
}

.course-tags {
    font-size: 1.3em;
}

.course-knowledge-title {
    font-size: 1.3em;
}


.course-author-row {
    margin-left: -10px;
    margin-top: -10px;
    margin-bottom: 15px;
}

.course-content {
    padding-top: 15px;
    background-color: rgb(245, 245, 245);
    margin: 0 -20px;
}

.course-tutorials-title {
    font-size: 2em;
    margin-bottom: 15px;
}

.course-tutorial {
    border-top: 1px solid #e6e6e6;
    cursor: pointer;
}

.course-tutorial:hover {
    background-color: white;
}

.course-tutorial-inner {
    margin: 0;
    padding: 10px 0;
}

.course-tutorial-name:hover {
    color : rgb(216, 92, 22);
}

.course-tutorial-wrap {
    padding-left: 35px;
}

.course-tutorial-time {
    margin-right: 10px;
}