.edit-screen {
}

.table-selector {
    height: 250px;
    overflow-y: scroll;
}

.selected-row {
    cursor: pointer;
}

.panel-item {
    padding: 0 8px;
}

.create {
    color : #4ed272;
    cursor: pointer;
}

.delete {
    color : #f85f6f;
    cursor: pointer;
}

.red-critical{
    color: red;
}
.red-error{
    color: #9b201f;
}
.color-warning{
    color: #e98b00;
}
.color-event{
    color: #652ac6;
}
.color-debug{
    color: #747170;
}
