.edit-screen {
}

.table-selector {
    height: 250px;
    overflow-y: scroll;
}

.selected-row {
    cursor: pointer;
}

.panel-item {
    padding: 0 8px;
}

.create {
    color : #4ed272;
}

.delete {
    color : #f85f6f;
}