html, body{
    height: 100%;
}

/*for scroll*/
.mCSB_container_wrapper{
    margin-bottom: 0;
    margin-right: 0;
}

.mCSB_container_wrapper>.mCSB_container{
    padding-right: 15px;
}

/*--------------------------------------*/
/*header*/
.header-info{
    background-color: #11171c;
    height: 45px;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    z-index: 1000;
}

.header-item{
    display: inline-block;
    height: 100%;
    color: #4A5259;
}

.header-left{
    float:left;
}
.heaer-center{
    overflow: hidden;
}
.header-right{
    float:right;
}

/*Left header*/
.menu-toggle{
    height: 45px;
    width: 45px;
    background: inherit;
    font-size: 28px;

    border: 0;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}

.hamburger{
    transform: scale(1.3,1);
    display: inline-block;
}

.menu-toggle:focus{
    border:0;
    outline:0;
}

.menu-toggle:hover{
    color:white;
}

.site-title {
    font: italic 28px 'Constantia';
    text-align: center;
    color: white;
    display: inline-block;
}

/*Right header*/
.language-panel{
    text-align: center;
    line-height: 45px;
}

.language-panel>a{
    vertical-align: middle;
    margin: 0 10px;
    display: inline-block;
    cursor: pointer;
    color: inherit;
}

.language-panel>a:hover{
    transform: scale(1.2);
}

.language-panel>a.selected{
    color:white;
}

/*--------------------------------------*/
/*Menu*/

.nav-menu {
    width: 250px;
    position: fixed;
    background-color: #11171c;
    bottom:0;
    left: 0px;
    top: 44px;
    color: #ffffff;
    border-top:1px solid #000;
    opacity: 1;
    z-index: 500;
}

/*Top information*/
.main-menu-info{
    margin: 10px 0;
    width: 100%;
    border-bottom: 1px solid black;
}

/*User information*/

.user-info-card {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    color: #ffffff;
    height: 150px;
}

.main-image {
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.login-image{
    background: none;
}


.main-label {
    font: 400 22px Corbel;
    margin-top: 2px;
}

.info-about-user{
    font: 400 16px / 12px Corbel;
}

/*Link*/
.link-card{
    text-align: center;
    display: inline-block;
    width:100%;
    margin: 15px 0;
}

.link{
    text-align: center;
    background-image: url("../image/menu/social.png");
    background-repeat:no-repeat;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border:0;
    padding: 0;
    background-color: inherit;
}
.link:hover{
    background-image: url("../image/menu/social-hover.png");
}

.link:focus,.link:hover{
    border:0;
    outline: 0;
}

.link-with-vk{
    background-position: 2px -2px;
}

.link-with-facebook{
    background-position: -53px -2px;
}

.link-with-twitter{
    background-position: -106px -2px;
}


.link-with-github{
    background-position: -158px -2px;
}


/*menu items*/
.first-menu-items{
    list-style: none;
    font: 400 20px Corbel;
    padding-left: 0;
}

.first-menu-item{
    vertical-align: middle;
    line-height: 45px;
}

.first-menu-item>a{
    display: block;
    text-decoration: none;
    padding-left: 10px;
}

.first-menu-item a>img{
    vertical-align: middle;
    margin-right: 15px;
    height: 25px;
    width: 25px;
}

.first-menu-item a:hover>img{
    transform: scale(1.1,1.1);
}

.second-menu-items{
    font: 400 18px Corbel;
    list-style: none;
    padding: 5px 0;
    margin: 0;
}

.second-menu-item{
    vertical-align: middle;
    line-height: 20px;
}

.second-menu-item>a{
    display: block;
    text-decoration: none;
    padding-left: 60px;
    color: #3f474e;
}
.second-menu-item a:hover{
    color:#ffffff;
}

/*animation for menu*/
.nav-menu.ng-hide-add, .animate-show.ng-hide-remove {
    transition: all linear 0.5s;
}

.animate-show.ng-hide {
    opacity: 0;
    left:-250px;
}
/*--------------------------------------*/
/*wrapper*/
.wrapper{
    padding-top:60px;
    transition: all linear 0.5s;
    padding-left: 0px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}
.wrapper-left{
    padding-left: 270px;
}

/*carousel*/
.carousel-container{
    margin-bottom: 20px;
}

.carousel-caption {
    width: 100%;
    background: rgba(52, 52, 52, 0.85);
    left:0;
    right: 0;
    bottom: 0;
}


.carousel-slide{
    max-height: 400px;
}
