/*validation*/
.ng-invalid.ng-touched {
    border-color: red;
    outline-color: red;
}

.ng-valid.ng-touched {
    border-color: green;
    outline-color: green;
}

/*forms*/
.center-form {
    text-align: justify;
    margin: 0 auto;
    width:350px;
}

.form-title {
    font: 40px 'Exo', sans-serif;
    text-align: center;
}

.login-btns{
    text-align: center;
}

.login-btn{
    cursor: pointer;
    display: inline-block;
    padding: 0 2.5em;
    background-color: #21abc7;
    border: 1px solid #21abc7;
    color: #fff;
    border-radius: 100px;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-weight: 600;
    min-width: 18.75em;
    height: 40px;
    font-size: 18px;
}

.login-btn:hover, .login-btn:focus{
    color: white;
    text-decoration: none;
    background: #36C1DE;
}
.login-btn[disabled]{
    cursor: default;
    color: #31708f;
}
.login-btn[disabled]:hover{
    background-color: #21abc7;
}
.login-btn:focus, .login-btn:active, .login-btn:active:focus{
    outline: 0;
}

.err-hidden{
    visibility: hidden;
}

/*Labels*/

label.label-block {
    display: block;
}
