.red-critical{
    color: red;
}
.red-error{
    color: #9b201f;
}
.color-warning{
    color: #e98b00;
}
.color-event{
    color: #652ac6;
}
.color-debug{
    color: #747170;
}
.table:hover{
    cursor: pointer;
}

