.first-form-body{
    height: 450px;
}


@media (min-width: 768px) {
    .first-form-modal {
        width: 700px;
        margin: 30px auto;
    }
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    }
}


/*menu*/
.user-menu-content{
    height:100%;
    position:relative;
}

@media (max-width: 768px) {
    .user-menu-content{
        height: auto;
    }
}

.user-image{
    width: 25px;
    margin-right: 10px;
}

.user-menu{
    position:relative;
    border: 1px solid #F0F0F0;
    background: white;
    padding: 0 10px;
    font: 400 18px 'PT Sans', sans-serif;
}

.user-name{
    font: 700 32px 'PT Sans', sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
}

.user-speciality{
    margin: 5px auto 15px;
}
.user-status{
    margin: 15px auto;
}

.circle-status{
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: inline-block;
    text-align: center;
}

.circle-online{
    background: #9ad300;
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(155,211,0,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(155,211,0,1))); /* safari4+,chrome */
    background:-webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(155,211,0,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(155,211,0,1) 100%); /* opera 11.10+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(155,211,0,1) 100%); /* ie10+ */
    background:radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(155,211,0,1) 100%); /* w3c */
}

.circle-offline{
    background: #d02800;
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(208, 40, 0,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(208, 40, 0,1))); /* safari4+,chrome */
    background:-webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(208, 40, 0,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(208, 40, 0,1) 100%); /* opera 11.10+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(208, 40, 0,1) 100%); /* ie10+ */
    background:radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(208, 40, 0,1) 100%); /* w3c */
}

.user-link{
    font-size:25px;
}

.user-nav{
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 0;
}

.user-nav>li{
    margin-top:0 !important;
    border-left: 0;
    border-right: 0;
}

.user-nav>li a{
    border-radius: 0;
    margin:0;
    color: #000;
    text-decoration: none;
    display: inline-block;
    width:75%;
}

.user-nav>li a{
    text-decoration: none;
}


.user-nav>li.list-group-item:first-child,
.user-nav>li.list-group-item:last-child{
    border-radius: 0;
}

.user-nav>li:hover{
    background: #ddd;
}

.completion-desk{
    position: relative;
}

.completion-percentage{
    color: inherit;
    text-align: center;
    min-width: 140px;
    display: inline-block;
    position: relative;
    width:33%;
}


.completion-percentage canvas{

}

.completion-percentage:hover{
    color: inherit;
    text-decoration: none;
}
.completion-percentage h1{
   margin:0;
}

.completion-percentage p{
    margin: 0;
}
